{% extends 'base.html.twig' %}

{% block title %}Celconsulting{% endblock %}

{% block body %}
    <div class="header__home">
        <div class="linter">
            <div class="logo">
                <a href="">Celconsulting</a>
            </div>
            <div class="nav__ul">
                <a href="">Formation Longue</a>
                <a href="">Fomation Courte</a>
                <a href="">Consulting</a>
            </div>
        </div>
    </div>
    <section>
        <div class="header__contenainer">
            <div class="left__header__container">
                <div class="dix__text">
                    <h6>Apprendre grâce à <strong> plusieurs formats</strong></h6>
                    <p>Vous cherchez une formation complète pour apprendre de A à Z ou une vidéo pour découvrir un nouvel outil ? Vous devriez trouver votre bonheur </p>
                </div>
                <div class="btn__row">
                    <a href="" class="button__get">get starded</a>
                    <div class="play__button">
                        <i class='bx bx-play-circle'></i>
                        <a href="">play video</a>
                    </div>
                </div>

                <div class="footer__slice">
                    <div class="play__button">
                        <i class='bx bxs-user'></i>
                        <a href="">Mentorat</a>

                    </div>
                    <div class="play__button">
                        <i class='bx bxs-group'></i>
                        <a href="">Mentorat</a>

                    </div>
                    <div class="play__button">
                        <i class='bx bxs-user'></i>
                        <a href="">Mentorat</a>

                    </div>


                </div>
            </div>
            <div class="right__header__container bulbe">
            <div class="bxt__img">
                <div class="figure__images fedup__ol">
                    <img src="{{ asset('build/images/11.jpg') }}" alt="">
                </div>
                <div class="figure__images fedup__o">

                </div>
                <div class="figure__images fedup__om">

                </div>
                <div class="figure__images fedup__op">

                </div>
            </div>

                <div class="bulbe__1 buldbe__color"><i class='bx bxl-facebook-circle'></i></div>
                <div class="bulbe__2 buldbe__color"><i class='bx bxl-instagram' ></i></div>
                <div class="bulbe__3 buldbe__color"><i class='bx bxl-youtube' ></i></div>
                <div class="bulbe__4 buldbe__color"><i class='bx bxl-google' ></i></div>
            </div>
        </div>

    </section>
    <section class="color__up">
        <div class="header__contenainer">
            <div class="left__content__text">
                <div class="content__text__left">
                    <h1>wh onligne learning methode</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores autem cum cupiditate, delectus dolores dolorum explicabo fugit, inventore iure maiores modi mollitia nesciunt quaerat quasi repellendus rerum, saepe sed veritatis?</p>
                    <div class="play__button">
                        <a href="" class="coursea__linter">Get course</a>
                    </div>

                    <div class="bull__info"></div>
                    <div class="bull__infos"></div>
                </div>

            </div>
            <div class="right__content__content">
                <div class="learning__content">
                    <div class="box__learning">
                        <div class="box_icon">
                            <i class='bx bxs-analyse'></i>
                        </div>
                        <h4>Flexible Time</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque ducimus iusto labore minima odio perferendis perspiciatis quae ullam voluptas! Atque cum expedita laboriosam mollitia nemo nulla reprehenderit, ut voluptate!</p>
                    </div>
                    <div class="box__learning">
                        <div class="box_icon">
                            <i class='bx bxs-analyse'></i>
                        </div>
                        <h4>Flexible Time</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque ducimus iusto labore minima odio perferendis perspiciatis quae ullam voluptas! Atque cum expedita laboriosam mollitia nemo nulla reprehenderit, ut voluptate!</p>
                    </div>
                    <div class="box__learning">
                        <div class="box_icon">
                            <i class='bx bxs-analyse'></i>
                        </div>
                        <h4>Flexible Time</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque ducimus iusto labore minima odio perferendis perspiciatis quae ullam voluptas! Atque cum expedita laboriosam mollitia nemo nulla reprehenderit, ut voluptate!</p>
                    </div>
                    <div class="box__learning">
                        <div class="box_icon">
                            <i class='bx bxs-analyse'></i>
                        </div>
                        <h4>Flexible Time</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque ducimus iusto labore minima odio perferendis perspiciatis quae ullam voluptas! Atque cum expedita laboriosam mollitia nemo nulla reprehenderit, ut voluptate!</p>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <section>
        <div class="row__listener">
        <div class="row__tex__center">
            <div class="hlx__xl">
                <h2>Let's lear  about new knowleadge <strong>gand abillity.</strong></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate labore laboriosam molestiae sequi, ut voluptas! Blanditiis dignissimos esse maiores nostrum porro quos repellendus reprehenderit, similique! Alias deserunt excepturi temporibus voluptatum.</p>
            </div>

        </div>
            <div class="gallery__mansory">
                <div class="box__listener__mansory">
                    <img src="{{ asset('build/images/gallery2.jpg') }}" alt="">
                </div>
                <div class="box__listener__mansory">
                    <img src="{{ asset('build/images/gallery2.jpg') }}" alt="">
                </div>
                <div class="box__listener__mansory">
                    <img src="{{ asset('build/images/gallery2.jpg') }}" alt="">
                </div>
                <div class="box__listener__mansory">
                    <img src="{{ asset('build/images/gallery2.jpg') }}" alt="">
                </div>
                <div class="box__listener__mansory">
                    <img src="{{ asset('build/images/gallery2.jpg') }}" alt="">
                </div>
                <div class="box__listener__mansory">
                    <img src="{{ asset('build/images/gallery2.jpg') }}" alt="">
                </div>
                <div class="box__listener__mansory">
                    <img src="{{ asset('build/images/gallery2.jpg') }}" alt="">
                </div>
                <div class="box__listener__mansory">
                    <img src="{{ asset('build/images/gallery2.jpg') }}" alt="">
                </div>
                <div class="box__listener__mansory">
                    <img src="{{ asset('build/images/gallery2.jpg') }}" alt="">
                </div>
                <div class="box__listener__mansory">
                    <img src="{{ asset('build/images/gallery2.jpg') }}" alt="">
                </div>
            </div>
        </div>
    </section>
    {{ include('home/_footer.html.twig') }}

{% endblock %}