{% extends 'base.html.twig' %}

{% block title %}Celconsulting{% endblock %}

{% block body %}
    <div class="loading">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="content__main">
    <body id="top">
    <div class="header__tome">
    </div>
    <section class="formation__home">
        <div class="oblog__up"></div>
        <div class="oblog__down"></div>
        <div class="oblog__midlle"></div>
        <div class="oblog__bm"></div>
        <div class="oblog__bl"></div>
        <div class="formation__section">
        <div class="left__formation__section">
            <div class="liner___element">
                <div>
                    <p><h5 class="holl__up_text">CEL consulting international</h5> <br>regroupe une équipe des formateurs, consultants spécialisés
                        et experts pour assurer plus de1000 modules de formations de son catalogue annuel et des formations sur demandes.</p>

                    <p>Nos formations sont à caractère pluridisciplinaire visant les domaines tels que :</p>
                    <ul>
                        <li>&bull;&nbsp;le management</li>
                        <li>&bull;&nbsp;Les RH&nbsp;&&nbsp;l’informatique</li>
                        <li>&bull;&nbsp;l’intelligence artificielle&nbsp;&&nbsp;le marketing</li>
                        <li>&bull;&nbsp;la comptabilité&nbsp;&&nbsp;marketing digital</li>
                        <li>&bull;&nbsp;l’entrepreneuriat&nbsp;la Finance&nbsp;&&nbsp;banque</li>
                        <li>&bull;&nbsp;le transport&nbsp;&&nbsp;logistique</li>
                        <li>&bull;&nbsp;l’assurance&nbsp;&&nbsp;le commerce international…</li>
                    </ul>
                      <div class="btn__slide">
                          <a href="" class="btn-1 button__btn-1"><i class='bx bxs-user-detail'></i>je m'inscris</a>
                          <a href="" class="btn-1 button__btn-2"><i class='bx bxs-calendar'></i>Je réserve ma place</a>

                      </div>

                </div>



            </div>

        </div>
            <div class="right__formation__section">
                <div class="imgb__r">
                    <figure>
                        <picture>
                            <img class="Oblong-Img" src="{{ asset('build/images/about-image.jpg') }}" alt="">
                        </picture>
                    </figure>
                </div>


            </div>
        </div>
    </section>
    <section class="align-center__element">
        <div class="align-center__element__center">
         <div class="flex__element__center">
             <div class="elem__course">
                 <span>individuel</span>
                 <i class='bx bx-user'></i>
             </div>
             <div class="elem__course">
                 <span>groupe</span>
                 <i class='bx bxs-group'></i>
             </div>
             <div class="elem__course">
                 <span>groupe</span>
                 <i class='bx bxs-group'></i>
             </div>
         </div>
        </div>

    </section>
    <section>
        <div class="xly__section">
            <div class="center__content__text">
                <h1 class="h1__text__color">Changez de vie grâce à nos formations intensives</h1>
                <p>Commencez une nouvelle carrière en Marketing digital  ou en développement web en quelques semaines.</p>
            </div>
        </div>
    </section>
    <section>
        <div class="learning__center">
            <div class="element__xlk">
                <div class="title__up">
                    <h1 class="holl__up_text">Formation diplômante </h1>
                </div>
                <div class="box__learning__card">
                   <div class="card__learnng">
                        <picture>
                            <img src="{{ asset('build/images/m.jpg') }}" alt="">
                        </picture>
                        <div class="date__xlk">
                            <span>mardi 08 novembre 2022</span>
                            <span> 17H30</span>
                        </div>
                        <div class="bottom__xlk">
                            <h1>Les 5 astuces pour donner de la visibilité à mon asso sur HelloAsso et Infolocale</h1>
                            <p>i Amet asperiores deserunt fugit modi nemo porro recusandae veritatis. Alias!</p>

                        </div>
                        <div class="bottom__xf">
                            <a href="">Je réserve ma place</a>
                            <i class='bx bxs-calendar'></i>
                        </div>
                    </div>
                    <div class="card__learnng">
                        <picture>
                            <img src="{{ asset('build/images/m.jpg') }}" alt="">
                        </picture>
                        <div class="date__xlk">
                            <span>mardi 08 novembre 2022</span>
                            <span> 17H30</span>
                        </div>
                        <div class="bottom__xlk">
                            <h1>Les 5 astuces pour donner de la visibilité à mon asso sur HelloAsso et Infolocale</h1>
                            <p>i Amet asperiores deserunt fugit modi nemo porro recusandae veritatis. Alias!</p>

                        </div>
                        <div class="bottom__xf">
                            <a href="">Je réserve ma place</a>
                            <i class='bx bxs-calendar'></i>
                        </div>
                    </div>
                    <div class="card__learnng">
                        <picture>
                            <img src="{{ asset('build/images/m.jpg') }}" alt="">
                        </picture>
                        <div class="date__xlk">
                            <span>mardi 08 novembre 2022</span>
                            <span> 17H30</span>
                        </div>
                        <div class="bottom__xlk">
                            <h1>Les 5 astuces pour donner de la visibilité à mon asso sur HelloAsso et Infolocale</h1>
                            <p>i Amet asperiores deserunt fugit modi nemo porro recusandae veritatis. Alias!</p>

                        </div>
                        <div class="bottom__xf">
                            <a href="">Je réserve ma place</a>
                            <i class='bx bxs-calendar'></i>
                        </div>
                    </div>
                    <div class="card__learnng">
                        <picture>
                            <img src="{{ asset('build/images/m.jpg') }}" alt="">
                        </picture>
                        <div class="date__xlk">
                            <span>mardi 08 novembre 2022</span>
                            <span> 17H30</span>
                        </div>
                        <div class="bottom__xlk">
                            <h1>Les 5 astuces pour donner de la visibilité à mon asso sur HelloAsso et Infolocale</h1>
                            <p>i Amet asperiores deserunt fugit modi nemo porro recusandae veritatis. Alias!</p>

                        </div>
                        <div class="bottom__xf">
                            <a href="">Je réserve ma place</a>
                            <i class='bx bxs-calendar'></i>
                        </div>
                    </div>
                    <div class="card__learnng">
                        <picture>
                            <img src="{{ asset('build/images/m.jpg') }}" alt="">
                        </picture>
                        <div class="date__xlk">
                            <span>mardi 08 novembre 2022</span>
                            <span> 17H30</span>
                        </div>
                        <div class="bottom__xlk">
                            <h1>Les 5 astuces pour donner de la visibilité à mon asso sur HelloAsso et Infolocale</h1>
                            <p>i Amet asperiores deserunt fugit modi nemo porro recusandae veritatis. Alias!</p>

                        </div>
                        <div class="bottom__xf">
                            <a href="">Je réserve ma place</a>
                            <i class='bx bxs-calendar'></i>
                        </div>
                    </div>
                    <div class="card__learnng">
                        <picture>
                            <img src="{{ asset('build/images/m.jpg') }}" alt="">
                        </picture>
                        <div class="date__xlk">
                            <span>mardi 08 novembre 2022</span>
                            <span> 17H30</span>
                        </div>
                        <div class="bottom__xlk">
                            <h1>Les 5 astuces pour donner de la visibilité à mon asso sur HelloAsso et Infolocale</h1>
                            <p>i Amet asperiores deserunt fugit modi nemo porro recusandae veritatis. Alias!</p>

                        </div>
                        <div class="bottom__xf">
                            <a href="">Je réserve ma place</a>
                            <i class='bx bxs-calendar'></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </section>

    <section class="xly__section__color">
        <div class="xly__section">
            <div class="center__content__text">
                <div>
                    <h1>Bien plus qu'une formation</h1>
                    <p>
                        Accédez à de nouvelles opportunités grâce à nos formations
                    </p>
                </div>


            </div>
        </div>
    </section>
    <section>
        <div class="learning__center">
            <div class="element__xlk">
                <div class="title__up">
                    <h1 class="holl__up_text">Formation sur-mesure</h1>
                </div>
                <div class="box__learning__card">
                    <div class="card__learnng">
                        <picture>
                            <img src="{{ asset('build/images/m.jpg') }}" alt="">
                        </picture>
                        <div class="date__xlk">
                            <span>mardi 08 novembre 2022</span>
                            <span> 17H30</span>
                        </div>
                        <div class="bottom__xlk">
                            <h1>Les 5 astuces pour donner de la visibilité à mon asso sur HelloAsso et Infolocale</h1>
                            <p>i Amet asperiores deserunt fugit modi nemo porro recusandae veritatis. Alias!</p>

                        </div>
                        <div class="bottom__xf">
                            <a href="">Je réserve ma place</a>
                            <i class='bx bxs-calendar'></i>
                        </div>
                    </div>
                    <div class="card__learnng">
                        <picture>
                            <img src="{{ asset('build/images/m.jpg') }}" alt="">
                        </picture>
                        <div class="date__xlk">
                            <span>mardi 08 novembre 2022</span>
                            <span> 17H30</span>
                        </div>
                        <div class="bottom__xlk">
                            <h1>Les 5 astuces pour donner de la visibilité à mon asso sur HelloAsso et Infolocale</h1>
                            <p>i Amet asperiores deserunt fugit modi nemo porro recusandae veritatis. Alias!</p>

                        </div>
                        <div class="bottom__xf">
                            <a href="">Je réserve ma place</a>
                            <i class='bx bxs-calendar'></i>
                        </div>
                    </div>
                    <div class="card__learnng">
                        <picture>
                            <img src="{{ asset('build/images/m.jpg') }}" alt="">
                        </picture>
                        <div class="date__xlk">
                            <span>mardi 08 novembre 2022</span>
                            <span> 17H30</span>
                        </div>
                        <div class="bottom__xlk">
                            <h1>Les 5 astuces pour donner de la visibilité à mon asso sur HelloAsso et Infolocale</h1>
                            <p>i Amet asperiores deserunt fugit modi nemo porro recusandae veritatis. Alias!</p>

                        </div>
                        <div class="bottom__xf">
                            <a href="">Je réserve ma place</a>
                            <i class='bx bxs-calendar'></i>
                        </div>
                    </div>
                    <div class="card__learnng">
                        <picture>
                            <img src="{{ asset('build/images/m.jpg') }}" alt="">
                        </picture>
                        <div class="date__xlk">
                            <span>mardi 08 novembre 2022</span>
                            <span> 17H30</span>
                        </div>
                        <div class="bottom__xlk">
                            <h1>Les 5 astuces pour donner de la visibilité à mon asso sur HelloAsso et Infolocale</h1>
                            <p>i Amet asperiores deserunt fugit modi nemo porro recusandae veritatis. Alias!</p>

                        </div>
                        <div class="bottom__xf">
                            <a href="">Je réserve ma place</a>
                            <i class='bx bxs-calendar'></i>
                        </div>
                    </div>
                    <div class="card__learnng">
                        <picture>
                            <img src="{{ asset('build/images/m.jpg') }}" alt="">
                        </picture>
                        <div class="date__xlk">
                            <span>mardi 08 novembre 2022</span>
                            <span> 17H30</span>
                        </div>
                        <div class="bottom__xlk">
                            <h1>Les 5 astuces pour donner de la visibilité à mon asso sur HelloAsso et Infolocale</h1>
                            <p>i Amet asperiores deserunt fugit modi nemo porro recusandae veritatis. Alias!</p>

                        </div>
                        <div class="bottom__xf">
                            <a href="">Je réserve ma place</a>
                            <i class='bx bxs-calendar'></i>
                        </div>
                    </div>
                    <div class="card__learnng">
                        <picture>
                            <img src="{{ asset('build/images/m.jpg') }}" alt="">
                        </picture>
                        <div class="date__xlk">
                            <span>mardi 08 novembre 2022</span>
                            <span> 17H30</span>
                        </div>
                        <div class="bottom__xlk">
                            <h1>Les 5 astuces pour donner de la visibilité à mon asso sur HelloAsso et Infolocale</h1>
                            <p>i Amet asperiores deserunt fugit modi nemo porro recusandae veritatis. Alias!</p>

                        </div>
                        <div class="bottom__xf">
                            <a href="">Je réserve ma place</a>
                            <i class='bx bxs-calendar'></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </section>

    <section>
        <div class="learning__center">
            <div class="element__xlk">
                <div class="title__up">
                    <h1 class="holl__up_text">Formation intra entreprise</h1>
                </div>
                <div class="box__learning__card">
                    <div class="card__learnng">
                        <picture>
                            <img src="{{ asset('build/images/m.jpg') }}" alt="">
                        </picture>
                        <div class="date__xlk">
                            <span>mardi 08 novembre 2022</span>
                            <span> 17H30</span>
                        </div>
                        <div class="bottom__xlk">
                            <h1>Les 5 astuces pour donner de la visibilité à mon asso sur HelloAsso et Infolocale</h1>
                            <p>i Amet asperiores deserunt fugit modi nemo porro recusandae veritatis. Alias!</p>

                        </div>
                        <div class="bottom__xf">
                            <a href="">Je réserve ma place</a>
                            <i class='bx bxs-calendar'></i>
                        </div>
                    </div>
                    <div class="card__learnng">
                        <picture>
                            <img src="{{ asset('build/images/m.jpg') }}" alt="">
                        </picture>
                        <div class="date__xlk">
                            <span>mardi 08 novembre 2022</span>
                            <span> 17H30</span>
                        </div>
                        <div class="bottom__xlk">
                            <h1>Les 5 astuces pour donner de la visibilité à mon asso sur HelloAsso et Infolocale</h1>
                            <p>i Amet asperiores deserunt fugit modi nemo porro recusandae veritatis. Alias!</p>

                        </div>
                        <div class="bottom__xf">
                            <a href="">Je réserve ma place</a>
                            <i class='bx bxs-calendar'></i>
                        </div>
                    </div>
                    <div class="card__learnng">
                        <picture>
                            <img src="{{ asset('build/images/m.jpg') }}" alt="">
                        </picture>
                        <div class="date__xlk">
                            <span>mardi 08 novembre 2022</span>
                            <span> 17H30</span>
                        </div>
                        <div class="bottom__xlk">
                            <h1>Les 5 astuces pour donner de la visibilité à mon asso sur HelloAsso et Infolocale</h1>
                            <p>i Amet asperiores deserunt fugit modi nemo porro recusandae veritatis. Alias!</p>

                        </div>
                        <div class="bottom__xf">
                            <a href="">Je réserve ma place</a>
                            <i class='bx bxs-calendar'></i>
                        </div>
                    </div>
                    <div class="card__learnng">
                        <picture>
                            <img src="{{ asset('build/images/m.jpg') }}" alt="">
                        </picture>
                        <div class="date__xlk">
                            <span>mardi 08 novembre 2022</span>
                            <span> 17H30</span>
                        </div>
                        <div class="bottom__xlk">
                            <h1>Les 5 astuces pour donner de la visibilité à mon asso sur HelloAsso et Infolocale</h1>
                            <p>i Amet asperiores deserunt fugit modi nemo porro recusandae veritatis. Alias!</p>

                        </div>
                        <div class="bottom__xf">
                            <a href="">Je réserve ma place</a>
                            <i class='bx bxs-calendar'></i>
                        </div>
                    </div>
                    <div class="card__learnng">
                        <picture>
                            <img src="{{ asset('build/images/m.jpg') }}" alt="">
                        </picture>
                        <div class="date__xlk">
                            <span>mardi 08 novembre 2022</span>
                            <span> 17H30</span>
                        </div>
                        <div class="bottom__xlk">
                            <h1>Les 5 astuces pour donner de la visibilité à mon asso sur HelloAsso et Infolocale</h1>
                            <p>i Amet asperiores deserunt fugit modi nemo porro recusandae veritatis. Alias!</p>

                        </div>
                        <div class="bottom__xf">
                            <a href="">Je réserve ma place</a>
                            <i class='bx bxs-calendar'></i>
                        </div>
                    </div>
                    <div class="card__learnng">
                        <picture>
                            <img src="{{ asset('build/images/m.jpg') }}" alt="">
                        </picture>
                        <div class="date__xlk">
                            <span>mardi 08 novembre 2022</span>
                            <span> 17H30</span>
                        </div>
                        <div class="bottom__xlk">
                            <h1>Les 5 astuces pour donner de la visibilité à mon asso sur HelloAsso et Infolocale</h1>
                            <p>i Amet asperiores deserunt fugit modi nemo porro recusandae veritatis. Alias!</p>

                        </div>
                        <div class="bottom__xf">
                            <a href="">Je réserve ma place</a>
                            <i class='bx bxs-calendar'></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </section>


    <section>
        <div class="learning__center">
            <div class="element__xlk">
                <div class="title__up">
                    <h1 class="holl__up_text">Formation institutionnelles </h1>
                </div>
                <div class="box__learning__card">
                    <div class="card__learnng">
                        <picture>
                            <img src="{{ asset('build/images/m.jpg') }}" alt="">
                        </picture>
                        <div class="date__xlk">
                            <span>mardi 08 novembre 2022</span>
                            <span> 17H30</span>
                        </div>
                        <div class="bottom__xlk">
                            <h1>Les 5 astuces pour donner de la visibilité à mon asso sur HelloAsso et Infolocale</h1>
                            <p>i Amet asperiores deserunt fugit modi nemo porro recusandae veritatis. Alias!</p>

                        </div>
                        <div class="bottom__xf">
                            <a href="">Je réserve ma place</a>
                            <i class='bx bxs-calendar'></i>
                        </div>
                    </div>
                    <div class="card__learnng">
                        <picture>
                            <img src="{{ asset('build/images/m.jpg') }}" alt="">
                        </picture>
                        <div class="date__xlk">
                            <span>mardi 08 novembre 2022</span>
                            <span> 17H30</span>
                        </div>
                        <div class="bottom__xlk">
                            <h1>Les 5 astuces pour donner de la visibilité à mon asso sur HelloAsso et Infolocale</h1>
                            <p>i Amet asperiores deserunt fugit modi nemo porro recusandae veritatis. Alias!</p>

                        </div>
                        <div class="bottom__xf">
                            <a href="">Je réserve ma place</a>
                            <i class='bx bxs-calendar'></i>
                        </div>
                    </div>
                    <div class="card__learnng">
                        <picture>
                            <img src="{{ asset('build/images/m.jpg') }}" alt="">
                        </picture>
                        <div class="date__xlk">
                            <span>mardi 08 novembre 2022</span>
                            <span> 17H30</span>
                        </div>
                        <div class="bottom__xlk">
                            <h1>Les 5 astuces pour donner de la visibilité à mon asso sur HelloAsso et Infolocale</h1>
                            <p>i Amet asperiores deserunt fugit modi nemo porro recusandae veritatis. Alias!</p>

                        </div>
                        <div class="bottom__xf">
                            <a href="">Je réserve ma place</a>
                            <i class='bx bxs-calendar'></i>
                        </div>
                    </div>
                    <div class="card__learnng">
                        <picture>
                            <img src="{{ asset('build/images/m.jpg') }}" alt="">
                        </picture>
                        <div class="date__xlk">
                            <span>mardi 08 novembre 2022</span>
                            <span> 17H30</span>
                        </div>
                        <div class="bottom__xlk">
                            <h1>Les 5 astuces pour donner de la visibilité à mon asso sur HelloAsso et Infolocale</h1>
                            <p>i Amet asperiores deserunt fugit modi nemo porro recusandae veritatis. Alias!</p>

                        </div>
                        <div class="bottom__xf">
                            <a href="">Je réserve ma place</a>
                            <i class='bx bxs-calendar'></i>
                        </div>
                    </div>
                    <div class="card__learnng">
                        <picture>
                            <img src="{{ asset('build/images/m.jpg') }}" alt="">
                        </picture>
                        <div class="date__xlk">
                            <span>mardi 08 novembre 2022</span>
                            <span> 17H30</span>
                        </div>
                        <div class="bottom__xlk">
                            <h1>Les 5 astuces pour donner de la visibilité à mon asso sur HelloAsso et Infolocale</h1>
                            <p>i Amet asperiores deserunt fugit modi nemo porro recusandae veritatis. Alias!</p>

                        </div>
                        <div class="bottom__xf">
                            <a href="">Je réserve ma place</a>
                            <i class='bx bxs-calendar'></i>
                        </div>
                    </div>
                    <div class="card__learnng">
                        <picture>
                            <img src="{{ asset('build/images/m.jpg') }}" alt="">
                        </picture>
                        <div class="date__xlk">
                            <span>mardi 08 novembre 2022</span>
                            <span> 17H30</span>
                        </div>
                        <div class="bottom__xlk">
                            <h1>Les 5 astuces pour donner de la visibilité à mon asso sur HelloAsso et Infolocale</h1>
                            <p>i Amet asperiores deserunt fugit modi nemo porro recusandae veritatis. Alias!</p>

                        </div>
                        <div class="bottom__xf">
                            <a href="">Je réserve ma place</a>
                            <i class='bx bxs-calendar'></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </section>
    {% include'home/_footer.html.twig' %}
    </body>
{% endblock %}